html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.link-list__item {
  margin-left: 1rem;
  font-weight: bold;
}

.top-nav {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 4.5rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}